[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipdb = "*"
sqlalchemy = "==1.4.41"
alembic = "*"
faker = "*"
simple-term-menu = "*"
openai = "*"
python-decouple = "*"
requests = "*"
prettycli = "*"
pwinput = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.13"
